@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    background-color: hsl(var(--primary-background));
    color: hsl(var(--primary-foreground));
  }

  .dark body {
    background-color: hsl(var(--primary-background));
    color: hsl(var(--primary-foreground));
  }
}

@theme {
  --color-primary-background: hsl(var(--primary-background));
  --color-secondary-background: hsl(var(--secondary-background));

  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted-background: hsl(var(--muted-background));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-late-background: hsl(var(--late-background));

  --color-destructive: hsl(var(--destructive));

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --primary-background: 33, 100%, 98%;
    --secondary-background: 228, 18%, 5%;

    --muted-background: 20, 6%, 90%;
    --muted-foreground: 216, 12%, 84%;

    --primary-foreground: 240, 10%, 4%;
    --secondary-foreground: 240, 5%, 26%;

    --late-background: 38, 33%, 95%;

    --destructive: 0 100% 50%;
  }

  .dark {
    --primary-background: 228, 100%, 2%;
    --secondary-background: 33, 100%, 98%;

    --muted-background: 255, 7%, 12%;
    --muted-foreground: 210, 18%, 22%;

    --primary-foreground: 0, 0%, 100%;
    --secondary-foreground: 0, 0%, 63%;

    --late-background: 233, 31%, 5%;

    --destructive: 0 63% 31%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 6px;
  }
  .dark .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #353535;
  }
}

@layer utilities {
  .line--highlighted {
    @apply bg-zinc-700/50;
  }
  .line-highlighted span {
    @apply relative;
  }
  .word--highlighted {
    @apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
  }
}
